body{
  
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK8vFOZ_oSqsM0mHakCLzWUeT1om1korryaA&usqp=CAU");

    border-radius: 4px 4px 4px 4px;
}
h1{
  color:maroon;
}